{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>debate.com</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <!-- Google Fonts bağlantısı -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lustria&family=Orelega+One&family=Russo+One&display=swap" rel="stylesheet">
</head>
<body>
    <div class="top-bar">
        <div class="site-title"><em>debate.com</em></div>
        <div class="login">
            <a href="{% url 'register' %}" class="login-button">Kayıt Ol</a>
            <a href="{% url 'giris' %}" class="login-button">Giriş Yap</a>
            <a href="{% url 'logout' %}" class="login-button">Çıkış Yap</a>
        </div>
    </div>
    <div class="content">
        <p>Türkiye'nin en büyük münazara topluluğuna hoş geldiniz.</p>
        <div class="different-text">
            <p>İÇERİKLER</p>
            <a href="{% url 'blog-egitimler' %}" class="button">Eğitimler</a>
            <a href="{% url 'blog-haberler' %}" class="button">Haberler</a>
            <a href="{% url 'users-profil' %}" class="button">Profilim</a>
        </div>
    </div>
</body>
</html>